.navbar{
    border-bottom: 2px;
    border-bottom-color: #ee3d42;
    border-bottom-style: solid;
    background-color: white;
}

.navbar-brand{
    color: #003876;
}


.principal{
    font-weight: 700;
}
.secondary{
    font-weight: 400;
}