.filters-body{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.filters-body label .sean{
    color: #3fa9f5;
}
.filter-container{
    padding: 15px;
    height: 100%;
    vertical-align:middle;
}
.input-group-text{
    background-color: white;
    border-left-style: none;
}
.more-filter-label{
    margin-left: 10px;
    cursor: pointer;
}
.more-filter-label:hover{
    color: #3fa9f5;
}

.select-job-site{
    background-color: white;
    border-bottom: white;
}
p {
    margin: 0 0 0px;
}

.mat-form-field-infix {
    border-top: 0em solid transparent !important;
}

.modal-header{
    border-bottom: 0px;
}
.span-close{
    font-size: 24px;
    text-decoration: none;
    color: #0d6efd;
    margin-right: 25px;
}
.modal-title{
    color: #17304c;
    font-size: 22px;
    font-weight: 500;
    margin-left: 3%;
}
.modal-footer{
    border-top: 0;
    margin-top: 60px;
}
.hr-underline{
    width: 90%;
    margin-left: 5%;
    margin-top: -18px;
}

.btn-save-filters{
    background-color: #7ac844;
    border: none;
    padding: 5px 20px;
    color: white;
}
.btn-save-filters:hover{
    background-color: #9ab18b;
    color: black;
}

.btn-outline-secondary{
    color: #0d6efd;
    border-color: grey;
}
.input-quantity{
    background-color: white;
}

.btn-outline-secondary:hover{
    background-color: white;
}
.more-filters-click:hover{
    cursor: pointer;
    color: #3fa9f5;
}

.option-selected{
    background-color: #e7eaee;
    padding: 10px;
    margin-right: 10px;
}

.close-filter-selected{
    text-decoration: none;
    color: #0d6efd;
    cursor: pointer;
}

.filtered-visible{
    display: block;
}

.icon-trash{
    background-color: white;
    color: #0d6efd;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    vertical-align: middle;
    padding: 5px;
}

.jobsitePaddingLeft{
    padding-left: 17px;
}

.add-new-dataview{
    text-decoration: none;
}