<div class="row filters-body border-right">
    <div class="col-md-2 border-end"> 
        <span class="border-right"></span>
        <div class="filter-container ">
            <p> Jobsites </p> 
            <mat-form-field class="select-job-site w-100">
                <mat-select (selectionChange)="setJobsiteSelected()" [(value)]="filtersPrincipal.jobSite" >
                    <mat-option value="" > Default (Unfiltered) </mat-option>
                    <mat-option *ngFor="let item of jobSites" [value]="item">
                        <div [ngClass]="{'jobsitePaddingLeft': item != filtersPrincipal.jobSite}" class="option-data-view-select-content">
                            <i [ngClass]="{'fa-check': item === filtersPrincipal.jobSite}" class="fa"></i> <span class="w-80" > {{item}} </span>
                        </div>
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div> 
    </div>
    <div class="col-md-5 border-end "> 
        <div class="filter-container">
            <label> My Data Views </label> 
            <mat-form-field class="select-job-site w-100">
                <mat-select (selectionChange)="setFiltersSaved()" [(value)]="filtersPrincipal.myDataView">
                    <mat-option value="" > Default (Unfiltered) </mat-option>
                    <mat-option  *ngFor="let item of dataViews" [value]="item.name"> 
                        <div class="d-flex justify-content-between option-data-view-select-content">
                            <span>  {{ item.name }} </span> <i (click)="trashDataView()" class="icon-trash mt-3 mb-3 fa fa-trash"></i>
                        </div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> 
    </div>
    <div class="col-md-3 border-end d-flex"> 
        <div class="filter-container">
            <div class="input-group mt-3">
                <input [(ngModel)]="filters.orderId" (keydown)="changeValueFilter()" type="text" class="form-control" id="autoSizingInputGroup" placeholder="Enter Order Id">
                <div class="input-group-text sean">Search</div>
            </div>
        </div> 
    </div>
    <div class="col-md-2"> 
        <div class="filter-container mt-4 mb-3">
             <a class="more-filters-click" (click)="openModal(modalMessage)">  <i class="fa fa-tasks sean" aria-hidden="true"></i> <label class="sean more-filter-label"> More filters </label> </a>
        </div> 
    </div>
</div>

<!-- Filters selected -->
<div class="row filters-body border-right border-top pt-2 pb-2" *ngIf="filtered" >
    <div class="col-md-8 p-3">
        <span *ngIf="filters.status != ''" class="option-selected pr-2 mr-2">Status: {{ filters.status }} <a (click)="emptyFilter('status')" class="pl-2 cian close-filter-selected"> X </a> </span> 
        <span *ngIf="filters.purcharseOrder != ''" class="option-selected pr-2 mr-2"> Purcharse Order: {{ filters.purcharseOrder }} <a (click)="emptyFilter('purcharseOrder')" class="pl-2 cian close-filter-selected"> X </a> </span> 
        <span *ngIf="filters.productLine != ''" class="option-selected pr-2 mr-2" > Product Line: {{ filters.productLine }} <a (click)="emptyFilter('productLine')" class="cian pl-2 close-filter-selected"> X </a> </span>
        <span *ngIf="filters.jobsite != ''" class="option-selected pr-2 mr-2" > Jobsite: {{ filters.jobsite }} <a (click)="emptyFilter('jobsite')" class="cian pl-2 close-filter-selected"> X </a> </span>
        <span *ngIf="filters.quantity > 0" class="option-selected pr-2 mr-2" > Quantity: {{ filters.quantity }} <a (click)="emptyFilter('quantity')" class="cian pl-2 close-filter-selected"> X </a> </span>
        <span *ngIf="filters.orderId > 0" class="option-selected pr-2 mr-2" > Order Id: {{ filters.orderId }} <a (click)="emptyFilter('orderId')" class="cian pl-2 close-filter-selected"> X </a> </span>
    </div>
    <div class="col-md-4 p-3 d-flex flex-row-reverse">
        <span (click)="clearFilter()" class="cian close-filter-selected">Clear All Filters</span>
    </div>
</div>

 
<!-- Modal... -->

<ng-template #modalMessage let-modal>
    <div class="modal-header mt-3">
        <h4 class="modal-title">
             Order Filters 
        </h4>
        <a type="button"  (click)="modal.dismiss('Cross click')">
            <span class="span-close" > X </span>
        </a>
    </div>
    <hr class=" pl-3 pr-3 hr-underline">
    <div class="modal-body">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="mb-3">
                        <label  class="form-label">Jobsites</label>
                        <select [(ngModel)]="filters.jobsite" class="form-select" aria-label="Default select example">
                            <option *ngFor="let item of jobSites" value="{{item}}"> {{ item }} </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label  class="form-label">Product Line</label>
                        <select [(ngModel)]="filters.productLine" class="form-select" aria-label="Default select example">
                            <option *ngFor="let item of productLine" value="{{item}}">{{item}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label  class="form-label">Statuses</label>
                        <select [(ngModel)]="filters.status" class="form-select" aria-label="Default select example">
                            <option *ngFor="let item of statusOrder" value="{{item}}"> {{ item }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label  class="form-label">Quantity</label>
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <button (click)="minusQuantity()" class="btn btn-outline-secondary" type="button" id="button-addon1"> - </button>
                            </div>
                            <input disabled [(ngModel)]="filters.quantity" name="quantity" type="text" class="form-control text-center input-quantity" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                            <div class="input-group-append">
                                <button (click)="addQuantity()" class="btn btn-outline-secondary" type="button" id="button-addon2"> + </button>
                              </div>
                          </div>
                        
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label  class="form-label">Order Number</label>
                        <input [(ngModel)]="filters.orderId" type="text"  maxlength="25" class="form-control" id="orderNumber" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label  class="form-label">Purchase Order</label>
                        <input [(ngModel)]="filters.purcharseOrder"  maxlength="50" type="text" class="form-control" id="purchaseOrder" >
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <div class="form-check">
                            <input  [checked]="saveFilters" [(ngModel)]="saveFilters" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                            Save filtering criteria as  <b>Data View </b> 
                            </label>
                        </div>
                    </div>
                    <div class="row" *ngIf="saveFilters">
                        <div class="mt-3">
                            <label  class="form-label"> Data view name</label>
                            <input [(ngModel)]="dataViewName" type="text" maxlength="100" class="form-control" id="dataViewName" placeholder="please write a data view name">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="modal-footer">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-md-6 text-left">
                    <span class="sean hover-efect" (click)="clearFilter()" > Clear All Filters</span>
                </div>
                <div class="col-md-6 d-flex flex-row-reverse">
                    <button type="button" class="btn-save-filters" (click)="aplyFilters()"> Apply Filters </button>
                </div>
            </div>
        </div>

    </div>
</ng-template>   