<div class="row filters-body border-right">
    <div class="col-md-2 border-end"> 
        <span class="border-right"></span>
        <div class="filter-container ">
            <label> Jobsites </label> 
            <select class="form-select" id="autoSizingSelect">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>  
        </div> 
    </div>
    <div class="col-md-5 border-end "> 
        <div class="filter-container">
            <label> My Data Views </label> 
            <select class="form-select" id="autoSizingSelect">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div> 
    </div>
    <div class="col-md-3 border-end d-flex"> 
        <div class="filter-container">
            <div class="input-group mt-3">
                <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Enter Order Id">
                <div class="input-group-text sean">Search</div>
            </div>
        </div> 
    </div>
    <div class="col-md-2"> 
        <div class="filter-container mt-3 mb-3">
            <i class="fa fa-tasks sean" aria-hidden="true"></i> <label class="sean more-filter-label"> More filtes </label> 
        </div> 
    </div>
</div>